* {
    font-family: 'Open Sans', sans-serif;
}

#background {
width:100%;
}

.pics{
    width:100%;
}

#menu{
    margin-left: 50%;
}

.paragraph{
    margin-top:2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}

.description {
    margin-top: 5%;

}

.title{
    margin-bottom: 3%;
}